<!DOCTYPE html>
<html>
<head>
    <title>Contact mananger</title>
    <meta charset="UTF-8">
    </head>
<body>

    <form method="post" id="reg" action="singUp.php">
        <input  type="text" name="user"  value=""  placeholder="Username">
        <input  type="text" name="mail"  value=""  placeholder="mail">
        <input  type="password" name="password" value="" placeholder="Password">
        <input type="password" name="confirm_password"  placeholder="Confirm password">
        <input type="submit" name="ок" value="Ok">
    </form>
</body>
</html>