<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php"
color="true"
convertErrorsToExceptions="true"
convertNoticesToExceptions="true"
convertWarningsToExceptions="true"
stopInFailures="false"
syntaxCheck="false"
>
<testsuites>
    <testsute>
        <directory>./tests/</directory>
    </testsute>

</testsuites>


</phpunit>