html {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
  padding-top: 80px;
}

.logo {
    width: 200px;
    margin-top: -13px ;
}

.logo-s3 {
    width: 100px;
}

.batch-label,
.batch-input {
    float: left;
    width: 45%;
    margin-bottom: -5px;
    font-weight: normal;
}

.error { color: red; }
.title { margin-top: 80px; }
#input-file { display: none ; }
.btn-batch { margin-right: 42px; }
.panel-margin { margin-bottom: 0; }
.batch-label { margin-right: 15px; }
.block-add { margin-bottom: -55px; }
.active-radius a { border-radius: 50%; }
.pagination-border li > a { border: none; }

.block-output {
    width: 70%;
    height: 430px;
    margin: 0 auto;
    background: #eee;
    border-radius: 15px;
}

.table-font { font-size: 11px; }
.table-font tr td:last-child { width: 110px; }

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.back-to-top {
cursor: pointer;
position: fixed;
bottom: 0;
left: 10px;
margin-bottom: 50px;
display: none;
}
