/***************************************
    Main Style
***************************************/

html {
    height: 100%;
}

body {
    position: relative;
    margin: 0;
    min-height: 100%;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 45px;
}

.copy {
    font-weight: bold;
    font-size: 13px;
}


/***************************************
    S3 Style
***************************************/
.logo-s3 {
    width: 100px;
}

.title-s3 {
    margin-top: 40px;
}

.form-upload {
    float: left;
    margin-top: 20px;
}

.upload-message-s3 {
    position: absolute;
    top: -20px;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, .2);
       -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, .2);
            box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, .2);
}

.preload-s3 {
    display: none;
    float: right;
    margin: 3px 10px;
}


/***************************************
    Other
***************************************/

.logo {
    margin:auto;
    width: 200px;
    margin-right: 40px;}

.batch-label,
.batch-input {
    float: left;
    width: 45%;
    margin-bottom: -5px;
    font-weight: normal;
}

.error { color: red; }
#input-file { display: none ; }
.btn-batch { margin-right: 42px; }
.panel-margin { margin-bottom: 0; }
.batch-label { margin-right: 15px; }
.block-add { margin-bottom: -55px; }
.active-radius a { border-radius: 50%; }
.pagination-border li > a { border: none; }

.block-output {
    width: 100%;
    height: 450px;
    margin: 0 auto;
    background: #eee;
    border-radius: 15px;
}

.table-font { font-size: 11px; }
.table-font tr td:last-child { width: 110px; }

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 55px;
    left: 15px;
    display: none;
}

.jGrowl {
  margin-top: 50px;
}

.pagination .active span {
    border-radius: 50%;
}

.pagination-list {
    float: right;
    padding-top: 10px;
}

.pagination-list .active span,
.pagination-list .disabled span,
.pagination-list .pagination > li > a {
    border: none;
}

.btn btn-default btn-create-datasource pull-right {
    position: absolute;
    left: 0; 
    bottom: 0;
    background-color: red;
}

.upload-message {
    position: absolute;
    top: -25px;
    left: 50%;
    width: 100%;
    margin-left: -390px;
}

#wrap{
    display: none;
    opacity: 0.8;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 16px;
    background-color: rgba(1, 1, 1, 0.725);
    z-index: 100;
    overflow: auto;
}

#window {
    width: 400px;
    height: 400px;
    margin: 50px auto;
    display: none;
    background: #fff;
    z-index: 200;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 16px;
}

.close {
    margin-left: 364px;
    margin-top: 4px;
    cursor: pointer;
}

.jGrowl-notification {
    font-size: 18px;
    width: 300px !important;
}
.jgrowl-danger {
    background-color: red !important;
}

.jgrowl-warning {
    background-color: yellow !important;
    color: #000000 !important;
}

.jgrowl-success {
    background-color: green !important;
}